name: Build

on:
  push:
    branches:
      - main
      - support/**
      - feature/**
      - bugfix/**

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3

      - name: compile-project
        shell: powershell
        run: .\compilador.bat

      - name: execute-test
        shell: powershell
        run: .\tests\AvaliacaoAviarioTests\AvaliacaoAviarioTests.exe
